extends base

block head.js
  script(src="https://fb.me/react-0.14.0.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")

block content
  h1= msg
  #example

  script(src="/js/reactHello.js", type="text/babel")
